DOMAIN_NAME="localhost:3000"
DATABASE_URL="postgresql://postgres:{POSTGRES_PASSWORD}@localhost:5432/{DATABASE_NAME}"
POSTGRES_URL_NON_POOLING="postgresql://postgres:{POSTGRES_PASSWORD}@localhost:5432/{DATABASE_NAME}"

ADMIN_ID="1"
ADMIN_EMAIL="admin@gmail.com"
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="admin_pass"
DISCORD_WEBHOOK_URL=""
JWT_SECRET="SECRET"

