@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  padding: 0.5rem 0;
}

.hover-parent {
}

.hover-parent:hover * {
  display: inline;
}
html {
  scroll-behavior: smooth;
}
